<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <main>
            <div class="page-content-wrapper">
                <div class="page-content">
                    <h1>Nothing there!</h1>
                </div>
            </div>
        </main>
        <%- include('../includes/end.ejs') %>